---
import { astroI18n, t } from "astro-i18n";
astroI18n.init(Astro);

import { getCollection } from "astro:content";
import FormattedDate from "../../components/layout/FormattedDate.astro";
import Layout from "../../components/layout/Layout.astro";

const posts = (
  await getCollection("blog", (post) => post.id.startsWith(astroI18n.langCode))
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Layout>
  <h1>Hey! you're in {astroI18n.langCode}</h1>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
