---
import { Icon } from "astro-icon";
import { astroI18n, l, t } from "astro-i18n";
import Layout from "../components/layout/Layout.astro";
import SceneDeveloper from "@components/home/sceneDeveloper.svelte";
import ExpandAnimation from "@components/home/ExpandAnimation.svelte";
astroI18n.init(Astro);
---

<Layout title={t("home.title")}>
  <!-- figures -->
  <figure
    class="absolute -top-36 w-screen m-auto inset-x-0 bg-primary h-[200px] right-0 blur-[90px] max-w-[1000px] -z-10">
  </figure>
  <!-- Content -->
  <section
    class="grid place-items-center min-h-screen relative overflow-hidden">
    <!-- Round shape -->
    <!-- <figure
      class="absolute bottom-52 right-0 bg-secondary h-[10rem] w-[10rem] blur-[80px] translate-x-[70%]">
    </figure> -->

    <div class="m-auto pb-14">
      <figure class="mx-auto md:max-w-[260px] max-w-[200px]">
        <img alt="3D gem" src="/assets/gem.png" class="w-full" />
      </figure>

      <div class="text-center mx-auto max-w-3xl">
        <h1 class="font-semibold text-2xl lg:text-6xl">
          {t("home.hero.title")}
          <span
            class="ml-2 text-transparent bg-clip-text bg-gradient-to-r from-purple-300 to-primary">
            {t("home.hero.title-highlight")}
          </span>
        </h1>
        <p class="mt-10 max-w-md mx-auto">
          {t("home.hero.subtitle")}
        </p>
      </div>

      <a
        href="#services"
        aria-label="Scroll down"
        class="bg-transparent border border-neutral-400 rounded-full p-2 md:p-3 mx-auto mt-10 grid place-items-center hover:bg-[#4f4f4f] w-10 h-10">
        <Icon name="ph:arrow-down" />
      </a>
    </div>
  </section>
  <section
    class="w-full bg-glass rounded-lg p-8 flex flex-col md:flex-row md:justify-between md:gap-14">
    <div class="w-full">
      <h2 class="text-3xl text-black dark:text-white">
        What is a 20th century developer
      </h2>
      <p class="mt-4">
        Continiuslly creating stuff with feedback from across many places
        Continiuslly creContiniuslly creating stuff with feedback from across
        many places Continiuslly creating stuff with feedback from across many
        placesating stuff with feedback from across many places
      </p>
    </div>
    <div
      class="bg-gray-500 relative cursor-pointer rounded-2xl w-full min-h-[30vh] grid place-items-center">
      <div class="absolute top-2 right-2">
        <ExpandAnimation client:load />
      </div>
      <SceneDeveloper client:visible />
    </div>
  </section>

  <!-- Services -->
  <section class="min-h-screen mt-[15vh]" id="services">
    <div class="mx-auto text-center">
      <h2 class="font-semibold text-black dark:text-white text-4xl">
        {t("home.services.title")}
      </h2>
      <h3
        class="text-2xl font-medium text-gradient mt-4 text-transparent bg-clip-text bg-gradient-to-r from-purple-300 to-primary">
        {t("home.services.subtitle")}
      </h3>
    </div>

    <div class="flex justify-around max-w-6xl mx-auto mt-40 items-center">
      <!-- Card -->
      {
        [0, 1, 2].map((index) => (
          <div
            class={`group max-w-[200px]  ${
              index == 0 || index == 2 ? "w-[25%]" : "w-[30%]"
            }`}>
            <div
              class="min-h-[100px]   max-h-[300px] w-full rounded-tl-lg rounded-br-lg   md:rounded-tl-[40px] md:rounded-br-[40px] bg-indigo-300"
              style="aspect-ratio: 1/1.20;"
            />
            <a
              href={l("/portfolio")}
              class="flex items-center gap-1 pt-2 justify-center md:justify-start">
              <p class="text-text text-xs md:text-lg text-center md:text-left ">
                {t("home.services.service", { i: index })}
              </p>
              <span class="hidden md:block icon-[carbon--arrow-right] h-5 w-5 group-hover:translate-x-2 transition-all" />
            </a>
          </div>
        ))
      }
    </div>
  </section>
  <!-- About -->
  <section class="mx-auto text-center">
    <h4 class="font-semibold text-black dark:text-white text-3xl text-center">
      {t("home.interested")}
    </h4>
    <a
      href={l("/about")}
      aria-label="About me"
      class="h-10 w-10 bg-transparent border border-neutral-400 rounded-full p-2 md:p-3 mx-auto mt-16 grid place-items-center hover:bg-#4f4f4f">
      <Icon name="ph:arrow-down" />
    </a>
    <p class="mt-10 text-lg">{t("home.learn-more")}</p>
  </section>
  <!-- Contact  -->
  <section
    class="bg-glass rounded-t-lg text-center grid place-items-center mt-28 h-70vh relative overflow-hidden min-h-[50vh]">
    <div
      class="absolute bottom-10 left-0 bg-secondary h-100px w-100px blur-100px -z-10">
    </div>

    <div
      class="absolute top-0 right-0 -z-10 bg-primary h-100px w-100px blur-100px">
    </div>
    <p class="text-3xl text-text font-semibold text-white">
      {t("home.contact")}
      <span
        class="ml-2 text-transparent bg-clip-text bg-gradient-to-r from-purple-700 to-green-400">
        {t("home.contact-highlight")}
      </span>
    </p>
  </section>
</Layout>
