---
import { astroI18n, t } from "astro-i18n";
import Layout from "../components/Layout.astro";
astroI18n.init(Astro);
---

<Layout>
  <div class="absolute top-0"></div>
  <div class="m-auto">
    <h1>{t("home.hero.title")}</h1>
    <p>{t("home.hero.subtitle")}</p>
  </div>
</Layout>
