---
import Layout from "../components/Layout.astro";
import Scene from "../components/svelte/Scene.svelte";
---

<Layout>
  <h1 class="text-red-300">Hello world</h1>
  <Scene client:load />
</Layout>
