---
import { astroI18n, t } from "astro-i18n";
import Layout from "../components/Layout.astro";
astroI18n.init(Astro);
---

<Layout title={t("home.title")}>
  <!-- figures -->
  <div
    class="absolute -top-36 w-screen left-[50%] right-[50%] -translate-x-[50%] h-[200px] bg-#342B6C blur-150px max-w-1000px"
  >
  </div>

  <section class="grid place-items-center min-h-screen relative">
    <div
      class="absolute bottom-10 right-0 bg-secondary h-100px w-100px blur-100px"
    >
    </div>
    <div class="m-auto pb-14">
      <figure class="mx-auto md:max-w-240px max-w-200px">
        <img alt="3D gem" src="/assets/gem.png" class="w-full" />
      </figure>

      <div class="text-center mx-auto max-w-3xl">
        <h1 class="heading-1 font-semibold text-black dark:text-white">
          {t("home.hero.title")}
        </h1>
        <p class="text-base md:text-xl mt-10 max-w-md mx-auto">
          {t("home.hero.subtitle")}
        </p>
      </div>

      <button
        aria-label="Scroll down"
        class="bg-transparent border border-neutral-400 rounded-full p-2 md:p-3 mx-auto mt-10 grid place-items-center hover:bg-#4f4f4f"
      >
        <p class="bg-neutral-400 focus:outline-2 i-carbon-arrow-down"></p>
      </button>
    </div>
  </section>

  <!-- Services -->
  <section class="min-h-screen">
    <div class="mx-auto text-center">
      <h2 class="heading-1 font-semibold">
        {t("home.services.title")}
      </h2>
      <h3 class="heading-2 text-gradient">{t("home.services.subtitle")}</h3>
    </div>

    <div class="flex justify-around max-w-6xl mx-auto mt-40">
      <!-- Card -->
      <div class="w-30% max-w-200px">
        <div
          class="min-h-100px max-h-300px w-full rounded-tl-40px rounded-br-40px bg-indigo-300"
          style="aspect-ratio: 1/1.20;"
        >
        </div>
        <div class="flex items-center gap-1 pt-2">
          <p>Frontend</p>
          <p
            class="bg-neutral-400 focus:outline-2 focus:outline-red-300 i-carbon-arrow-right"
          >
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- About -->
  <section class="mx-auto text-center">
    <h4 class="heading-2 font-semibold text-white max-w-xl mx-auto">
      {t("home.interested")}
    </h4>
    <p class="mt-20 text-lg">{t("home.learn-more")}</p>

    <button
      aria-label="Scroll down"
      class="bg-transparent border border-neutral-400 rounded-full p-2 md:p-3 mx-auto mt-10 grid place-items-center hover:bg-#4f4f4f"
    >
      <p class="bg-neutral-400 focus:outline-2 i-carbon-arrow-right"></p>
    </button>
  </section>
  <!-- Contact  -->
  <section
    class="bg-glass rounded-t-lg text-center grid place-items-center mt-28 h-70vh relative overflow-hidden"
  >
    <div
      class="absolute bottom-10 left-0 bg-secondary h-100px w-100px blur-100px -z-10"
    >
    </div>

    <div
      class="absolute top-0 right-0 -z-10 bg-primary h-100px w-100px blur-100px"
    >
    </div>
    <p
      class="heading-1 text-white font-semibold"
      set:html={t("home.contact")}
    />
    <select data-choose-theme>
      <option value="">Default</option>
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
  </section>
</Layout>
