---
import { astroI18n, t, l } from "astro-i18n";
import HeaderLink from "./HeaderLink.astro";
---

<div>
  <header
    class="hidden md:block w-full max-w-2xl mx-auto c-glass rounded-[26px] py-3 px-20 fixed top-7 left-[50%] right-[50%] translate-x-[-50%] z-50">
    <nav class="text-sm flex justify-between mx-auto items-center">
      <HeaderLink href={"/"}>Home</HeaderLink>
      <HeaderLink href={"/about"}>About</HeaderLink>
      <HeaderLink href={"/blog"}>Blog</HeaderLink>
      <HeaderLink href={"/portfolio"}>Portfolio</HeaderLink>
      <HeaderLink href={"/blog"}>Garden</HeaderLink>
      <HeaderLink href={"/snippets"}>Snippets</HeaderLink>
    </nav>
  </header>
  <div
    class="block md:hidden w-10 h-10 rounded-full bg-gray-200 fixed top-7 right-7">
  </div>
</div>

<style>
  .c-glass {
    background-color: rgba(87, 87, 87, 0.8);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
</style>
