---
import { astroI18n, l } from "astro-i18n";
import type { HTMLAttributes } from "astro/types";
astroI18n.init(Astro);

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const linkTo = l(href);

const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, "") ||
  astroI18n.langCodes.some((code) => pathname == `/${code}${href}`);
---

<a href={linkTo} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
