---
import { l, astroI18n } from "astro-i18n";
import { Spa } from "astro-spa";
import { AstroSeo } from "@astrolib/seo";

// Components
import Header from "./Header.astro";
import Transition from "./Transition.svelte";
import SearchBar from "./SearchBar.svelte";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
// Code

const { title, description } = Astro.props;
---

<html lang={astroI18n.langCode}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO -->
    <AstroSeo
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>

  <body data-barba="wrapper" class="overflow-x-hidden">
    <!-- <Spa defaultAnimation={false} progressBar={false} /> -->
    <main
      class="container mx-auto"
      data-barba="container"
      data-barba-namespace="home"
    >
      <Header />
      <div class="mt-20 md:mt-28 relative"><slot /></div>
    </main>
    <SearchBar client:visible>
      <div class="flex-col flex">
        <a href={l("/", undefined, "en")}> Switch to english</a>
        <a href={l("/", undefined, "es")}> Switch to spanish</a>
      </div>
    </SearchBar>
    <script>
      import barba from "@barba/core";
      import gsap from "gsap";
      barba.init({
        transitions: [
          {
            name: "home",
            leave(data) {
              console.log(`Data ${data}`);
              gsap.to(data.current.container, {
                opacity: 0,
              });
            },
            enter(data) {
              gsap.from(data.next.container, {
                opacity: 0,
              });
            },
          },
        ],
      });
    </script>
  </body>
</html>
