---
import "../styles/global.css";

import { l, astroI18n } from "astro-i18n";
import { AstroSeo } from "@astrolib/seo";
// Components
import Header from "./Header.astro";
import Transition from "./Transition.svelte";
import SearchBar from "./SearchBar.svelte";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
// Code

const { title, description } = Astro.props;
---

<html lang={astroI18n.langCode}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- SEO -->
    <AstroSeo
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>

  <body class="overflow-x-hidden">
    <main class="container mx-auto">
      <Header />
      <div class="mt-20 md:mt-28 relative"><slot /></div>
    </main>
    <SearchBar client:visible>
      <div class="flex-col flex">
        <a href={l("/", undefined, "en")}> Switch to english</a>
        <a href={l("/", undefined, "es")}> Switch to spanish</a>
      </div>
    </SearchBar>
    <script>
      import "../utils/router.js";
    </script>
    <style is:global>
      .bg-glass {
        background: rgba(160, 161, 161, 0.25);
        border-color: rgba(203, 202, 202, 0.25);
        border-width: 1px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
    </style>
  </body>
</html>
