---
import { Spa } from "astro-spa";
import { AstroSeo } from "@astrolib/seo";
import Header from "./Header.astro";
import Transition from "./Transition.svelte";
import SearchBar from "./SearchBar.svelte";
---

<!DOCTYPE html>
<!-- TODO TRANSLATE -->
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO -->
    <AstroSeo
      title="Simple Usage Example"
      description="A short description goes here."
    />

    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Transition client:load />

    <main class="container mx-auto">
      <Header />
      <Spa defaultAnimation={false} />

      <div class="mt-20 md:mt-28 relative">
        <slot />
      </div>

      <SearchBar client:visible />
    </main>
  </body>
</html>
