---
import { Spa } from "astro-spa";
import { AstroSeo } from "@astrolib/seo";
import Header from "./Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <AstroSeo
      title="Simple Usage Example"
      description="A short description goes here."
    />
  </head>
  <body>
    <Header title={"Feernandooff - portfolio"} />
    <Spa />

    <slot />
  </body>
</html>
